@{
    ViewBag.Title = "Contact";
}

<h2>My contact details:</h2>

<address>
    Craiova, Romania<br />
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:kojocaru.ivan@gmail.com">kojocaru.ivan@gmail.com</a><br />
</address>