
@{
    ViewBag.Title = "Reservation added successfully ";
}

    <h2>Your Reservation ID is: @Convert.ToString(Session["ReservationID"])</h2>

<div>
    @Html.ActionLink("Back Home", "", "Home")
</div>